.main-chat
  .main-chat__group-info
    .main-chat__left-box
      .main-chat__left-box__current-group
        = @group.name
      .main-chat__left-box__member-name
        - @group.group_users.each do |group_user|
          = group_user.user.name
      .main-chat__left-box__edit-btn
        = link_to edit_group_path(@group), class: "main-chat__left-box__edit-btn--Edit" do
          Edit
  
  .main-chat__message-list
    = render @messages
  .main-chat__messsage-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new-message__input-box__text', placeholder: "type a message"
      = f.label :image, class: "new-message__input-box__image" do
        = icon('far', 'image') 
        = f.file_field :image, class: "new-message__input-box__image-file"
      = f.submit 'Send', class: 'new-message__input-box__submit'
  